@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=League+Gothic&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 1315px;
    width: 200px;  
}

body{
    background-color: rgb(242, 232, 252);
    max-width: 950px;
    display: flex;
    flex-direction: column;
    gap: 50px;

} /*--ta--*/


#cabecera {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(img/imgn-7..jpg);
    width: 1350px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgb(65, 18, 109);
    background-attachment:fixed;
}

.titulo{

    font-family: Bree;
    font-size: 60px;
    font-style: oblique;
    text-align:left;
}
nav {
    align-items: center;
}
img span{
    justify-content: center;
}
nav span{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(238, 146, 238);
    font-family: "Reddit Sans", sans-serif ;
}

span:hover{
    background-color: white;
    color: rgb(62, 154, 240);
}
span:active{
    color: violet;
    background-color: rgb(108, 155, 255);
}
.botonera {
    width: 1315px;
    height: 100px;
    background-color: rgb(221, 188, 252);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.descripcionmia{
    font-family: "Reddit Sans" sans-serif;
    font-size: 25px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

h3{
    font-size: 30px;
    font-family: Bree;
    margin-top: 50px;
    margin-bottom: 20px;
}

h4{
    font-size: 19px;
    font-family: Bree;
    margin-top: 30px;
    margin-bottom: 20px;
}
img{
    margin: 20px 50px 20px 0px;
}
div p{
    font-size: 30px;
    font-family: "Bree";
    font-style: italic;
    margin: 30px;
}


p {
    font-size: 18px;
    font-family: "Reddit Sans";
    padding: 5px 0px 5px 0px;
}


li { 
    font-family:"Reddit Sans";
    font-size: 18px;
    list-style: none;
}
div li p{
    font-family:"Reddit Sans";
    font-size: 18px;

}


.habilidades span{
    border: 3px dashed rgb(248, 177, 248);
    font-family: "Bree";
    font-style: oblique;
    font-size: 25px;
    padding:5px;
    flex-wrap: wrap-reverse;
    gap: 20px 40px;
}
.habilidades span:hover{
    background-color: violet;
    color: black;
}
.caracteristicas{
    display: flex;
    flex-direction:row;
}
aside{
    color: rgb(113, 31, 190);
    font-family: "Reddit Sans";
    background-color: rgb(218, 224, 253);
    padding: 10px;
    flex-direction: column-reverse;
}
aside h5{
    font-size: 16px;
    font-style: italic;
}
aside li{
    list-style-type: none;
    font-size: 14px;
}
aside p{
    font-size: 14px;
}

/*--ta--*/
footer{
    background-color: rgb(87, 20, 150);
    color:rgb(218, 208, 208);
    width: 1350px;
    display: flex;
    flex-direction: row;

}
footer h3{
    margin-left: 50px;
}
footer li{
    margin-left:150px;
    list-style-type:none;
    padding-bottom:5px;
    align-self: flex-end;
}

li a{

    display: inline;
    color: aliceblue;
    font-style: bold ;
    text-decoration: none;
}